body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    background-color: black;
    color:white;
    overflow: hidden;
}
.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    padding-left: 0.2rem;
}
.lib-options{
    opacity: 0.7;
}
.lib-options:hover{
    opacity:1;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 340px;
    border-radius: 1rem; /* 1 rem is 16px*/
    background-color: black;
    margin: 0.5rem;
}
.sidebar .nav-option{
    opacity: 0.7;
    padding: 0.5rem;
}
.sidebar .nav-option:hover{
    opacity:1;
}
.sidebar .nav .nav-option a{
    color:#fff;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 1rem;
}
.sidebar .nav .nav-option i{
    font-size: 1.25rem;
}

.sidebar .nav{
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    /* by using justify content we can align things vertically*/
    padding: 0.5rem 0.75rem;

}
.sidebar .nav .nav-option{
    line-height: 2.5rem;
}
.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
}
.options{
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    padding-left:4rem;
    
}
.icons i{
    padding-left: 1rem;
    opacity: 0.7;
}
.icons i:hover{
    opacity: 1;
}

.lib-options img{
    height: 1.25rem;
    width:1.25rem;
    
}
.lib-options a{
    margin-left: 1rem;
    text-decoration: none;
    color: #fff;
}


.box{
    height: 9rem;
    background-color: #232323;
    border-radius: 1rem;
    margin:0.76rem 0 1.75rem 0;
    padding:0.5rem 1.25rem;
    
}
.box-p1{
    font-size: 1rem;
    font-weight: 700;
}
.box-p2{
    font-size: .85rem;
    opacity: 0.9;
}
.badge{
    background-color: #fff;
    border:none;
    border-radius:6.25rem;
    padding:0.25rem 1.25rem;
    margin-top:.5rem;
    font-weight: 600;
    cursor: pointer;
    height:2rem;
    width:fit-content;
}
.main-content{
    background-color: #121212;
    flex:1;
    /* this means that main-content will get all the remaining width */
    border-radius: 1rem;
    overflow: auto;
    margin-top: 0.5rem;
    padding:0 1.5rem 0 1.5rem;
}
.sticky-nav{
    position:sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0 1rem 0;
    z-index: 2;
}
.sticky-nav-icons img{
    font-size: 2rem;
    height:2rem;
}
.sticky-nav-icons{
    margin-left:1rem;
}
.sticky-nav-options{
    display: flex;
    align-items: center;
    padding-right: 1rem;
}
.sticky-nav-options button{
    margin: 0.60rem;
}
#darkbadge{
    background-color: black;
    color:#fff;
}
.cards-container .card{
    background-color: #232323;
    width:250px;
    border-radius: 1rem;
    padding:1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}
.card img{
    width:100%;
    border-radius: 1rem;
}
.card-title{
    font-weight: 600;
}
.card-info{
    font-size: 0.9rem;
    opacity: 0.8;
}
.cards-container{
    display:flex;
    flex-wrap: wrap;
}
.footer{
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    width:90%;
    height:10%;
    border-top: 2px solid #fff;
    opacity:0.4;
}
.music-player{
    background-color:black;
    position:fixed;
    bottom:0;
    height: 76px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-control-icon{
    height:1rem;
    opacity: 0.7;
}
.player-control-icon:hover{
    opacity: 1;
}
.player-controls{
    display:flex;
    align-items: center;
    gap:0.78rem;
    justify-content: space-between;
}
.play-bar{
    display:flex;
    width:35%;
}
.progress-bar{
    position: relative;
    width:180%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius: 100px;
    height:0.22rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    height:1rem;
    width:1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -0.52rem;
}